<form id="user-registration-form" action="/registerUser" method="POST">
    <input id="firstName" class='inputFields' placeholder="First Name" type=text name="firstName">
    <input id="lastName" class='inputFields' placeholder="Last Name" type=text name="lastName">
    <input id="email" class='inputFields' placeholder="email" type=text name="email">
    <input id="password" class='inputFields' placeholder="password" type="password" name="password">
    <input id="passwordConfirm" class='inputFields' placeholder="confirm password" type="password" name="passwordConfirm">
    <!-- <label for="msg" class='inputFields' >Enter a Message</label>-->
    <input id="userSubmit" class='inputFields' type="button" value="Submit">
</form>
<div id="error-msg"></div