<!doctype html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/master.css'>
    <script data-main="js/main" src="js/libs/require.js"></script>

    <meta content="width=device-width,initial-scale=1,maximum-scale=1" name="viewport">

</head>
<body>
<div id="content"></div>

<div id="loginContainer">
    <form id="login-form" action="/authenticate" method="POST">
        <fieldset>
            <label>User:</label>
            <input class='inputFields' type="text" name="email"/>

            <label>Password:</label>
            <input class='inputFields' type="password" name="password"/>

            <input type="submit" value="Log In"/>
            <a href="/sign-up">Sign Up</a>

        </fieldset>
    </form>
    {{#if showError}}
    <h1 id=login-error>{{errorMessage}}</h1>
    {{/if}}
</div>
<script>
    require(['main']);
</script>
<script>
    define(function (require){
        var app = require('app');
        var $ = require('jquery')
        $(document).ready(function() {
            $('#userSubmit').click(function(){
                //add validation of course
                var data = {
                    firstName : $("#firstName").val(),
                    lastName : $("#lastName").val(),
                    email : $("#email").val(),
                    password : $("#password").val(),
                    passwordConfirm : $("#passwordConfirm").val()

                };

                $.ajax({

                    url: "/registerUser",
                    type: "POST",
                    data: data,
                    cache: false,
                    statusCode: {
                        401: function() {
                            window.location = "/login"
                        },
                        400 : function (err) {
/*                            console.log("email exists error");
                            console.log(err)*/
                            var resData = JSON.parse(err.responseText);
                            //this isnt working
                            $("#error-msg").html("enter fields:" + Object.keys(resData.errors))

                        }
                    },
                    success: function (data) {
                        window.location = "/"
                    },
                    error: function(err){

                    }
                });

            });//end submit action
        });//end Jquery
    });


</script>

</body>
</html>






